@import './fonts';
@import './vars';

html,
body {
	height: 100%;
}

body {
	font-family: $font-family;
	color: $font-color;
}

a {
	color: $link-color;
	text-decoration: none;
	font-weight: 500;
}

// container
@each $name, $width in $breakpoints {
	.container-#{$name} {
		width: 100%;

		display: flex;
		justify-content: center;

		& > div {
			width: 100%;
			max-width: $width;
			box-sizing: border-box;
			padding: 0 $spacing * 2;
		}
	}
}

// cols
.cols {
	display: flex;

	& > .col {
		flex-grow: 1;

		&:not(:first-child) {
			margin-left: $spacing;
		}
	}

	@each $name, $width in $cols {
		& > .col-#{$name} {
			flex-grow: 1;
			width: $width;

			&:not(:first-child) {
				margin-left: $spacing;
			}
		}
	}
}

@mixin breakpoint($width) {
	@media (max-width: map-get($breakpoints, $width)) {
		@content;
	}
}

@mixin breakpoint-min($width) {
	@media (min-width: map-get($breakpoints, $width)) {
		@content;
	}
}

.not-found {
	text-align: center;
	font-family: $font-family-code;
}
