$spacing: 8px;
$font-color: rgb(24, 24, 24);

$link-color: rgb(48, 48, 143);

// ============================================================================

$breakpoints: (
	'xs': 0px,
	'sm': 600px,
	'md': 960px,
	'lg': 1280px,
	'xl': 1920px,
);

$cols: (
	'0': 0%,
	'1': 10%,
	'2': 20%,
	'3': 30%,
	'4': 40%,
	'5': 50%,
	'6': 60%,
	'7': 70%,
	'8': 80%,
	'9': 90%,
	'10': 100%,
);
