$spacing: 8px;

$font-family: 'Heebo', sans-serif;
$font-family-code: 'Cascadia Code', 'Courier New', Courier, monospace;
$font-color: rgb(58, 58, 58);
$font-color-light: rgb(177, 177, 177);
$link-color: rgb(101, 101, 211);

$border-radius: 4px;
// ============================================================================

$breakpoints: (
	'xs': 150px,
	'sm': 350px,
	'md': 650px,
	'lg': 950px,
	'xl': 1280px,
);

$cols: (
	'0': 0%,
	'1': 10%,
	'2': 20%,
	'3': 30%,
	'4': 40%,
	'5': 50%,
	'6': 60%,
	'7': 70%,
	'8': 80%,
	'9': 90%,
	'10': 100%,
);
