@import '../base';

.home-centerer {
	font-family: $font-family-code;
	& > div {
		padding: 32px 0px;
	}
	@include breakpoint-min('sm') {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.hor-line {
	width: 100%;
	height: 1px;
	background: $font-color;
}

.icon-link {
	color: $font-color;
}

.top-cols {
	align-items: flex-end;
	padding: $spacing * 4 0;
	@include breakpoint('sm') {
		margin: 8px;
	}
}

.col-icons {
	width: auto;
	flex-grow: 0 !important;
	font-size: 4em;
	display: flex;
	flex-direction: column;
	@include breakpoint('sm') {
		// width: 100%;
		font-size: 2em;
		justify-content: flex-end;
		& > div:not(:last-child) {
			margin-right: $spacing;
		}
	}
}

#bigname {
	font-size: 45pt;
	font-family: $font-family-code;
	@include breakpoint('sm') {
		font-size: 24pt;
	}
}

.posts-list {
	width: 100%;
	.posts-list-item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		line-height: 1.25;
		@include breakpoint('md') {
			flex-direction: column;
			margin-bottom: $spacing;
		}
	}

	.posts-list-date {
		font-style: italic;
		color: $font-color-light;
		font-weight: lighter;
		font-size: 10pt;
		text-align: right;
		@include breakpoint('md') {
			text-align: left;
		}
	}
}
