---
layout: default
---

<div class="home-centerer">
	<div>
		<div class="container-md">
			<div>
				<div class="cols top-cols">
					<div class="col">
						<div id="bigname">
							<div>john</div>
							<div>mcparland</div>
						</div>
					</div>
					<div class="col col-icons">
						<div>
							<a
								class="icon-link"
								href="https://www.linkedin.com/in/john-mcparland/"
								><i class="fab fa-linkedin"></i
							></a>
						</div>
						<div>
							<a class="icon-link" href="https://github.com/mcpar-land"
								><i class="fab fa-github-square"></i
							></a>
						</div>
						<div>
							<a class="icon-link" href="https://www.instagram.com/mcpar_land/"
								><i class="fab fa-instagram-square"></i
							></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hor-line"></div>
		<div class="container-md"><div>{{ content }}</div></div>
	</div>
</div>
